.to-do-list-container {
  margin-top: 25px;
}

#what-to-do-next {
  margin: 2%;
}

.project-button {
  margin: 5%;
}

.to-do-list-item h4 {
  padding-left: 25px;
  padding-bottom: 5px;
}

.to-do-list-item:hover {
  background-color: #26a69a !important;
}

.complete-todo-item {
  float: right;
  padding-right: 20%;
}

#todo-add-form {
  animation-duration: 1s;
  animation-name: slidein;
}

#nothing-was-found {
  margin-top: 150px;
}

.btn-floating {
  padding-left: 1%;
  padding-right: 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50%;
  margin-bottom: 2%;
}

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    margin-left: 1;
  }
}
